@charset "UTF-8";

$desktop : 'min-width: 769px';

// Override Bootstrap's defaults
$input-border-radius: 0;
$border-radius-base: 3px;
$brand-primary: #2f3b49;
$color-brand-primary: #2f3b49;
$color-brand-secondary: #64dc9a;
$brand-success : $color-brand-secondary;

$btn-success-border: $color-brand-secondary;

$font-family-sans-serif: 'Open Sans', sans-serif !default;
$input-border-focus: $color-brand-primary !default;
$padding-base-vertical:     8px !default;
$state-danger-text: #d84244 !default;
$input-bg: #f5f5f5;
$input-border: transparent;
$label-color: $color-brand-primary;
$input-color: $color-brand-primary;
$input-border-focus: $color-brand-secondary;

$sidebar-width: 300px;

//== Tabs
$nav-tabs-border-color:                     $color-brand-primary;
$nav-tabs-link-hover-border-color:          $color-brand-primary;

$nav-tabs-active-link-hover-bg:             $color-brand-primary;
$nav-tabs-active-link-hover-color:          white;
$nav-tabs-active-link-hover-border-color:   $color-brand-primary;

$nav-tabs-justified-link-border-color:            #ddd !default;
$nav-tabs-justified-active-link-border-color:     red !default;

$pagination-active-color:              #fff !default;
$pagination-active-bg:                 $color-brand-secondary !default;
$pagination-active-border:             $color-brand-secondary !default;
